doctype strict
- const domParser = Components.classes['@mozilla.org/xmlextras/domparser;1'].createInstance(Components.interfaces.nsIDOMParser)
- const nonMeta = new Set([])
- nonMeta.add('reportSearchMatch')
- nonMeta.add('reportChildren')
- nonMeta.add('key')
- nonMeta.add('version')
- nonMeta.add('itemType')
- nonMeta.add('title')
- nonMeta.add('creators')
- nonMeta.add('note')
- nonMeta.add('collections')
- nonMeta.add('relations')
- nonMeta.add('tags')
- nonMeta.add('deleted')
- nonMeta.add('parentItem')
- nonMeta.add('charset')
- nonMeta.add('contentType')
- nonMeta.add('linkMode')
- nonMeta.add('path')
mixin metadata(item)
  - var table = false
  //- https://github.com/pugjs/pug/issues/3020 is pretty dumb people. Make a breaking change already.
  each field in Object.keys(item)
    if nonMeta.has(field) || field == 'dateAdded' || field == 'dateModified'
      - table = false
    else if field == 'creators'
      - table = item[field].length
    else
      - item[field] = `${item[field]}`.trim()
      - table = item[field] && fieldName(item.itemType, field)

    if table
      - break

  if table
    table
      tr.itemType
        th #{Zotero.getString('itemFields.itemType')}
          a.delete-field(href='#' data-type='itemType' onclick='deleteField(this)')
            i.material-icons clear
        td #{Zotero.ItemTypes.getLocalizedString(item.itemType)}

      //- Creators
      if item.creators
        each creator in item.creators
          tr.creator(class=creator.creatorType)
            th(class=creator.creatorType) #{Zotero.getString('creatorTypes.' + creator.creatorType)}
              a.delete-field(href='#' data-type='creator' onclick='deleteField(this)')
                i.material-icons clear
            td
              if typeof creator.name !== 'undefined'
                //- One field
                | #{creator.name}
              else
                //- Two field
                | #{(creator.firstName + ' ' + creator.lastName).trim()}

      //- Move dateAdded and dateModified to the end of the object
      - var da = item.dateAdded
      - var dm = item.dateModified
      - delete item.dateAdded
      - delete item.dateModified
      - item.dateAdded = da
      - item.dateModified = dm

      //- https://github.com/pugjs/pug/issues/3020 is pretty dumb people. Make a breaking change already.
      each field in Object.keys(item)
        if nonMeta.has(field) || !fieldName(item.itemType, field)
          - continue
        - value = item[field]

        if value
          tr(class=fieldAlias[`${item.itemType}.${field}`] || field)
            th #{fieldName(item.itemType, field)}
              a.delete-field(href='#' data-type=(fieldAlias[`${item.itemType}.${field}`] || field) onclick='deleteField(this)')
                i.material-icons clear
            td
              if field == 'url' && value.match(/^https?:\/\//)
                //- URL
                a(href=value) #{value}
              else if field == 'DOI'
                //- Hyperlink DOI
                a(href=`http://doi.org/${value}`) #{value}
              else if field == 'date'
                //- Remove SQL date from multipart dates
                //- (e.g. '2006-00-00 Summer 2006' becomes 'Summer 2006')
                | #{Zotero.Date.multipartToStr(value)}
              else if field == 'accessDate' || field == 'dateAdded' || field == 'dateModified'
                //- Convert dates to local format
                | #{Zotero.Date.isoToDate(value, true).toLocaleString()}
              else
                | #{value}
//-
mixin tags(item)
  if item.tags && item.tags.length
    h3.tags #{Zotero.getString('report.tags')}
      a.delete-field(href='#' data-type='tags' onclick='deleteField(this)')
        i.material-icons clear
    ul.tags
      each tag in item.tags
        li #{tag.tag}
//-
mixin attachments(item)
  if item.attachments && item.attachments.length
    h3.attachments #{Zotero.getString('itemFields.attachments')}
      a.delete-field(href='#' data-type='attachments' onclick='deleteField(this)')
        i.material-icons clear
    ul.attachments
      each attachment in item.attachments
        li(id=`item_${attachment.key}`)
          if attachment.title
            | #{attachment.title}

          //- Attachment tags
          +tags(attachment)

          //- Attachment note
          if attachment.note
            +note(attachment.note)
//-
mixin note(text)
  div.notes
    a.delete-field(href='#' data-type='notes' onclick='deleteField(this)')
      i.material-icons clear
    //- If HTML tag or entity, parse as HTML
    if text.match(/(<(p|ul|ol|div|a|br|b|i|u|strong|em( >))|&[a-z]+;|&#[0-9]+;)/)
      //- Strip control characters (for notes that were
      //- added before item.setNote() started doing this)
      | !{domParser.parseFromString(`<div>${text.replace(/[\u0000-\u0008\u000B\u000C\u000E-\u001F\u007F]/g, '')}</div>`, 'text/html').body.innerHTML}
    else
      //- Otherwise, treat as plain text
      p.plaintext #{text}
//-
html
  head
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    title #{Zotero.getString('report.title.default')}
    link(rel='stylesheet' type='text/css' href='zotero://report/detail.css')
    link(rel='stylesheet' type='text/css' media='screen,projection' href='zotero://report/detail_screen.css')
    link(rel='stylesheet' type='text/css' media='print' href='zotero://report/detail_print.css')
    style.
      h3, th, .notes {
        position: relative;
      }

      #dirty {
        display: none;
      }

      .delete-field {
        position: absolute;
        top: 5px;
        left: 5px;
        display: none;
        font-size: 10px !important;
      }

      .edit-header {
        position: sticky;
        top: 10px;
        right: 10px;
      }

      iframe {
        display: none;
        width: 0;
        height: 0;
        border: none;
        position: absolute;
      }

      @media print {
        .edit-header {
          display: none !important;
        }
      }

      @font-face {
        font-family: 'Material Icons';
        font-style: normal;
        font-weight: 400;
        src: local('Material Icons'),
          local('MaterialIcons-Regular'),
          url(#{require('./MaterialIcons-Regular.woff2')}) format('woff2'),
          url(#{require('./MaterialIcons-Regular.woff')}) format('woff')
      }

      .material-icons {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 24px;  /* Preferred icon size */
        display: inline-block;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;

        /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased;
        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility;

        /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale;

        /* Support for IE. */
        font-feature-settings: 'liga';
      }
  body
    div.edit-header
      a(href='#' onclick='toggleEdit()')
        i.material-icons edit
      | 
      a(href='#' onclick='restore()')
        i.material-icons undo
      | 
      a(href='#' onclick='reset()')
        i.material-icons clear_all
      | 
      a#dirty(href='#' onclick='save()')
        i.material-icons save
      div
        pre#log

    ul.report(class={combineChildItems: 'combineChildItems'})
      each item in items
        li.item(id=`item_${item.key}` class=item.itemType)
          if item.title
            if item.reportSearchMatch
              //- Top-level item matched search, so display title. titles may have html-ish code, so don't escape
              h2 !{item.title}
            else
              //- Non-matching parent, so display "Parent Item: [Title]". titles may have html-ish code, so don't escape
              h2.parentItem
                | #{Zotero.getString('report.parentItem')}
                span !{item.title}

          //- If parent matches search, display parent item metadata table and tags
          if item.reportSearchMatch
            +metadata(item)
            +tags(item)

            //- Independent note
            if item.note
              +note(item.note)

          //- Children
          if item.reportChildren
            //- Child notes
            if item.reportChildren.notes.length
              //- Only display "Notes:" header if parent matches search
              if item.reportSearchMatch
                h3.notes #{Zotero.getString('report.notes')}

              ul.notes
                each note in item.reportChildren.notes
                  li(id=`item_${note.key}`)
                    +note(note.note)
                    +tags(note)

            //- Child attachments
            +attachments(item.reportChildren)

          //- Related items
          if item.relations
            h3.related #{Zotero.getString('itemFields.related')}
            ul.related
              each relation in item.relations
                li(id=`item_${relation.key}`) #{relation.title}
script.
  const config = !{JSON.stringify(config)};
  !{require('!raw-loader!ts-loader!./report.ts')}
iframe#backend(src=backend)
